:root {
    --global-primary-color: #3E5902;
    --global-primary-color-variation: #84A63A;
    --global-secundary-color: #F2CF63;
    --global-tertiary-color: #F25041;
    --global-tertiary-color-variation: #592E2A;
}



/* :root {
    --global-primary-color: #3E5902;
    --global-primary-color-variation: #84A63A;
    --global-secundary-color: #F2CF63;
    --global-tertiary-color: #F25041;
    --global-tertiary-color-variation: #592E2A;
} */